sphinx-nefertiti
sphinx
build>=1.2.1
wheel>=0.43.0
distro-info>=1.0
python-debian>=0.1.49
huggingface_hub
datasets
accelerate
ninja
matplotlib
ipython
h5py
nltk
sentencepiece
wandb
tensorboardx
blosc
colorama
colorlog
einops
hydra-core
matplotlib
numba
omegaconf
packaging
pandas
pybind11>=2.10.0
numpy<2.0.0
psutil
pynvml
pytest
PyYAML
pyzmq
ray
redis
scipy
seaborn
setuptools>=61.0
tqdm
transformers==4.42.3
networkx==3.3
matplotlib
tabulate
aiofiles
pydantic
black
isort
clang-format
# To eliminate security risks
torch>2.0.0
black>=25.1.0
cookiecutter>2.1.1
tensorflow>2.13.0
tensorflow-cpu>2.12.1