sphinx-nefertiti
sphinx
build>=1.2.1
wheel>=0.43.0
distro-info>=1.0
python-debian>=0.1.49
huggingface_hub
datasets
accelerate
ninja
matplotlib
ipython
h5py
nltk
sentencepiece
wandb
tensorboardx
blosc
colorama
colorlog
einops
hydra-core==1.4.0.dev1
matplotlib
numba
packaging
pandas
pybind11>=2.10.0
psutil
pynvml
pytest
PyYAML
pyzmq
ray
redis
scipy
seaborn
tqdm
networkx==3.3
matplotlib
tabulate
aiofiles
pydantic
isort==5.13.2
clang-format==19.1.7
ninja
paramiko
# To eliminate security risks
torch>2.0.0
black==25.1.0
cookiecutter>2.1.1
asyncio
aiohttp>=3.11.10
httpx>=0.28.1
etcd3
protobuf<3.21
rich
orjson>=3.10.16
flask
setuptools>=62.3.0,<75.9
func_timeout
jupyter-book
uvloop>=0.21.0
uvicorn>=0.34.2
fastapi>=0.115.12
regex
python_dateutil
word2number
Pebble
timeout-decorator
prettytable
gymnasium>=1.1.1
swanlab[dashboard]
torchdata
autoflake
tensordict
deepspeed>=0.17.2
pybase64
msgspec
transformers==4.53.1